<div class="container" id="common-header">
    <ul class="nav nav-tabs navbar-nav m-l-n">
        <li>
            <a href="#" class="nav-brand">
                <span> XWeb </span>
            </a>
        </li>
    </ul>
    <div class="navbar-left m-t-sm m-l" role="search">
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="thumb-sm avatar pull-left m-t-n-xs m-r-xs"> <img src="img/avatar.jpg"> </span> Li Si <b class="caret"></b> </a>
            <ul class="dropdown-menu animated fadeInLeft">
                <li> <a href="#aboutme">About me</a> </li>
                <li> <a href="#profile">Change profile</a> </li>
                <li> <a href="#password-editor">Change passwd</a> </li>
                <li class="divider"></li>
                <li> <a href="signin.html">Logout</a> </li>
            </ul>
        </li>
    </ul>
</div>
