<div class="center-block w-300 h-500">
    <div style="margin-left: -50px">
        <img src="/img/logo.png">
    </div>
    <div class="h-100"></div>
    <div class="row login-form">
        <form id="form-login">
            <div class="input-group m-b-xs" id="input-email">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i>
                </span>
                <input class="form-control input-sm" type="text" placeholder="Email address" name="email">
            </div>
            <div class="input-group" id="input-password">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i>
                </span>
                <input class="form-control input-sm" type="password" placeholder="Password" name="password">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm btn-info" id="btn-login"><i class="fa fa-sign-in"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="row" style="height: 25px"></div>
    <div class="row m-b-100">
        <p class="text-center">
            <span>
        <a href="#register">
          <small class="text-info"> Register </small>
        </a>
      </span> &nbsp | &nbsp
            <span>
        <a href="#findPassword">
          <small class="text-info"> Find Password </small>
        </a>
      </span>
        </p>
    </div>
</div>
