<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="alert-block"></div>
        <form class="form-horizontal" id="form-profile">
            <div class="form-group">
                <label class="col-lg-2 control-label"> Email </label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="email" value="{{email}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label"> Name </label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="name" value="{{name}}" name="name">
                    <span class="help-block m-b-none"> Enter your name or nick name </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label"> Phone </label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="phone" value="{{phone}}" name="phone">
                    <span class="help-block m-b-none"> enter your phone number </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-lg btn-default" id="btn-ok">Update profile</button>
                </div>
            </div>
        </form>
    </div>
</div>