<section class="panel">
<header class="panel-heading"> <h4> User List Management </h4> </header>
<table class="table table-hover table-clickable">
    <thead>
        <tr>
            <th>#</th>
            <th>Avatar</th>
            <th>Name</th>
            <th>Email</th>
            <th width="100">Phone</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</section>