<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div id="block-alert"></div>
        <form class="form-horizontal" id="form-pwd">
            <div class="form-group">
                <label class="col-lg-2 control-label"> Old </label>

                <div class="col-lg-10">
                    <input type="password" class="form-control" name="originPassword">
                    <span class="help-block m-b-none">Please enter your old password</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label"> New </label>

                <div class="col-lg-10">
                    <input type="password" class="form-control" name="newPassword">
                    <span class="help-block m-b-none"> New password at least 6 character </span>
                </div>
            </div>            
            <div class="form-group">
                <label class="col-lg-2 control-label"> New </label>

                <div class="col-lg-10">
                    <input type="password" class="form-control" name="newPasswordAgain">
                    <span class="help-block m-b-none"> New password again </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-lg btn-primary" id="btn-ok"> Submit </button>
                </div>
            </div>
        </form>
    </div>
</div>